<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>购物车</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>

<div id="app">
  <div v-if="!books.length">购物车为空</div>
  <table v-else>
    <thead>
    <tr>
      <th></th>
      <th>书籍名称</th>
      <th>出版日期</th>
      <th>价格</th>
      <th>购买数量</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(item,index) in books" :key="item">
      <td>{{index}}</td>
      <td>{{item.name}}</td>
      <td>{{item.date}}</td>
      <!--      <td>{{getFinalPrice(item.price)}}</td>-->
      <td>{{item.price | showPrice}}</td>
      <td>
        <button @click="decrement(item)">-</button>
        {{item.count}}
        <button @click="increment(item)">+</button>
      </td>
      <td>
        <button @click="remove(index)">移除</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div>总金额 {{totalPrice | showPrice}}</div>
</div>

<script src="../js/vue.js"></script>
<script src="main.js"></script>
</body>
</html>