<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<script src="../js/vue.js"></script>
<div id="app">
  <h2>{{message}}</h2>
  <!-- 1. 选择一个 -->
  <select name="abc" id="a" v-model="fruit">
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="李子">李子</option>
    <option value="葡萄">葡萄</option>
  </select>
  <h2>选择: {{fruit}}</h2>

  <!-- 2. 选择多个 -->
  <select name="abc" id="b" v-model="fruits" multiple>
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="李子">李子</option>
    <option value="葡萄">葡萄</option>
  </select>
  <h2>选择: {{fruits}}</h2>
</div>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      message: "vue很有趣",
      fruit:"香蕉",
      fruits: []
    }
  })
</script>
</body>
</html>